/uploads/apps/
/uploads/audio/
/uploads/audio_tmp/
/uploads/blog/
/uploads/doc/
/uploads/groups/
/uploads/records/
/uploads/room/
/uploads/smiles/
/uploads/users/
/uploads/videos/
/system/data/config.php
/system/data/db.php
/system/data/db_config.php
/adminpanel.php
/composer.phar
/composer.lock
/vendor/
/.idea/