<?php
  return [
    'home' => "Site name",
    'charset' => "utf-8",
    'home_url' => "https://rapigram.ru/",
    'api_url' => "https://api.rapigram.ru/",
    'temp' => "Mixchat",
    'online_time' => "150",
    'lang' => "Russian",
    'bonus_rate' => "",
    'cost_balance' => "10",
    'video_mod' => "yes",
    'video_mod_comm' => "yes",
    'video_mod_add' => "yes",
    'video_mod_add_my' => "yes",
    'video_mod_search' => "yes",
    'audio_mod' => "yes",
    'audio_mod_add' => "yes",
    'audio_mod_search' => "yes",
    'album_mod' => "yes",
    'max_albums' => "20",
    'max_album_photos' => "500",
    'max_photo_size' => "5000",
    'photo_format' => "jpg, jpeg, jpe, png, gif",
    'albums_drag' => "yes",
    'photos_drag' => "yes",
    'rate_price' => "1",
    'admin_mail' => "admin@example.com",
    'mail_metod' => "php",
    'smtp_host' => "localhost",
    'smtp_port' => "25",
    'smtp_user' => "",
    'smtp_pass' => "",
    'news_mail_1' => "no",
    'news_mail_2' => "no",
    'news_mail_3' => "no",
    'news_mail_4' => "no",
    'news_mail_5' => "no",
    'news_mail_6' => "no",
    'news_mail_7' => "no",
    'news_mail_8' => "no",
  ];
        